body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(220, 231, 231);
}

.cabecero{
    padding: 50px;

}
.prespuesto_titulo{
    font-size: 20px;
    text-align: center;
}
.presupuesto_valor{
    font-size: 50px;
    margin:10px;
    text-align: center;
}
.presupuesto_ingreso{
    background-color: rgb(0, 107, 207);
    padding: 15px;
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 5px;
}
.prespuesto_ingreso--texto{
    color:white;
}
.prespuesto_ingreso--valor{
    color:white;
}


.presupuesto_egreso{
    background-color: #ff6047;
    padding: 15px;
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
.prespuesto_egreso--texto{
    color:white;
}
.prespupuesto_egreso--valor{
    color:white;
}
.prespupuesto_egreso--porcentaje{
    color:white;
    font-size: 13px;
}

.ingreso {
    float: left;
    width: 50%; 
    display: flex;
    flex-direction: column;
  }

  .ingreso_titulo {
    text-align: center; 
    margin-bottom: 10px; 
    font-size: 20px;
  }

.elemento{
    background-color: #FF6047;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 3px;
    margin-bottom: 5px;
    
}

.elementoIngreso{
    background-color: #006BCF;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 3px;
    margin-bottom: 5px;
}

.elemento_descripcion{
    color:white;
}
.elemento_valor{
    color:white;
}

  
.elemento_eliminar--btn{
    font-size: 20px;
    color: white;
    border-width: 0px; 
    background-color: transparent;

}

  
.egreso{
    float: left;
    width: 50%; 
    display: flex;
    flex-direction: column;
}
.egreso_titulo{
    text-align: center; 
    margin-bottom: 10px;
    font-size: 20px;
}

.contenedor{
    align-items: center;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.agregar{
    background-color: rgb(3, 150, 108);
    padding: 15px;
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;

}

.agregar_descripcion{
    padding: 7px;
    border-radius: 3px;
    border: 0px;
    margin:3px;
}
.agregar_valor{
    padding: 7px;
    border-radius: 3px;
    border: 0px;
    margin:3px;
}

.agregar_tipo{
    padding: 7px;
    border-radius: 3px;
    border: 0px;
    margin:3px;
}
.agregar_btn{
    background-color: rgb(1, 123, 88);
    border-radius: 3px;
    border: 0px;
    color: white;
    padding: 7px;
    margin:3px;
}
.agregar_btn:hover{
    background-color: rgb(1, 81, 59);;
}

.derecha{
    display: flex;
    flex-direction: row;
}

.prespupuesto_egreso--porcentaje{
    background-color: #e8432a;
    padding: 2px;
    border-radius: 2px;
    margin-left: 5px;
}

#footer{
    padding: 7px;
    margin-top: 50px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}




@media screen and (max-width: 768px) {
    .cabecero, .presupuesto_ingreso, .presupuesto_egreso, .elemento, .elementoIngreso, .agregar {
        width: 100%;
        padding: 3% 5%;
    }
}

@media screen and (max-width: 480px) {
    .cabecero, .presupuesto_ingreso, .presupuesto_egreso, .elemento, .elementoIngreso, .agregar {
        width: 90%;
        padding: 5% 10%;
    }
}